{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      //Capyhir only use these 16 consonants and 6 vowels. Other sounds are merged into these ones.
      [ { "mode" : "alts" }, "B", "C", "D", "F", "G", "H", "J", "K", "L", "M", "N", "P", "R", "S", "T", "W" ],
      [ { "mode" : "alts" }, "a", "e", "i", "o", "u", "y" ],
      [ { "mode" : "alts" }, "B", "C", "D", "F", "G", "H", "J", "K", "L", "M", "N", "P", "R", "S", "T", "W" ],
      [ { "mode" : "alts" }, "a", "e", "i", "o", "o", "y" ]
    ]
  ]
}
